{% extends 'base.html' %}


{% block title %}
Login
{% endblock %}


{% block body %}
<div class="authForm">
    <form method="POST">
        <br>
        <input type="username" name="username" id="username" placeholder="Enter your login">
        <input type="password" name="password" id="password" placeholder="Enter your password">
        {% if get_flashed_messages() %}
            {% for msg in get_flashed_messages() %}
                <div class="flash"> {{msg}} </div>
            {% endfor %}
        {% else %}
            <br>
        {% endif %}
        <button type="submit">Log in</button>
    </form>

</div>
{% endblock %}