{% extends 'base.html' %}


{% block title %}
Registration
{% endblock %}


{% block body %}
<div class="authForm">
    <form method="POST">
        <br>
        <input type="login" name="login" id="login" placeholder="Enter your login">
        <input type="email" name="email" id="email" placeholder="Enter your email">
        <input type="password" name="password" id="password" placeholder="Enter your password">
        <input type="password" name="passwordCheck" id="passwordCheck" placeholder="Repeat your password">
        {% if get_flashed_messages() %}
            {% for msg in get_flashed_messages() %}
                <div class="flash"> {{msg}} </div>
            {% endfor %}
        {% else %}
            <br>
        {% endif %}
        <button type="submit">Save!</button>
    </form>
</div>
{% endblock %}