* {
	padding: 0px;
	margin: 0px;
	border: none;
    font-family: 'Jost', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

header{
    height: 50px;
    width: auto;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 40%;
    align-items: center;
    gap: 25px;
    font-family: 'Jost';    
    font-weight: 700;
    font-style: italic;
}

.flash{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flash.success{    
    font-size: 20px;
    border: 2px solid aquamarine;
}

.flash.error{
    font-size: 20px;
    color: rgb(145, 70, 70);
    border: 2px solid rgb(88, 143, 206);
}

body{
    color: aquamarine;
    background-color: #000;
}


.shit p{
    font-size: 32px;
}


.authForm form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.authForm input{
    text-align: center;
}

.staff{
    display: flex;
    align-items: center;
    margin-left: 23%;
    margin-top: 2%;
    height: auto;
    width: auto;
    color: aquamarine;
}

.staff.error{
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 27%;
    color: aquamarine;
}

.error{
    display: flex;
    align-items: center;
    justify-content: center;
}

.data{
    margin-left: 5%;
    margin-right: 5%;
}