* {
	padding: 0px;
	margin: 0px;
	border: none;
    font-family: 'Jost', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

header{
    height: 50px;
    width: auto;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 40%;
    align-items: center;
    gap: 25px;
    font-family: 'Jost';    
    font-weight: 700;
    font-style: italic;
}

body{
    color: aquamarine;
    background-color: #000;
}


.shit p{
    font-size: 32px;
}




.authForm form{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.authForm input{
    text-align: center;
}

.flash{
    display: flex;
    z-index: 2;
    justify-content: center;
}

.staff{
    display: flex;
    height: 800px;
    width: 300px;
    color: aquamarine;
}